<% title("票價表") %>
<h3>票價參考</h3>


<div class="well">
	<h4>祝山線<small>全長6.217公里</small></h4>
	<table class="table table-bordered table-hover table-striped">
		<tr>
			<th></th>
			<th>單程</th>
			<th>去回</th>
		</tr>
		<tr>
			<td>全票</td>
			<td>100</td>
			<td>150</td>
		</tr>
		<tr>
			<td>半票</td>
			<td>50</td>
			<td>75</td>
		</tr>
	</table>
	<h4>神木線<small>全長1.5公里</small></h4>
	<table class="table table-bordered table-hover table-striped">
		<tr>
			<th></th>
			<th>單程</th>
			<th>去回</th>
		</tr>
		<tr>
			<td>全票</td>
			<td>50</td>
			<td>80</td>
		</tr>
		<tr>
			<td>半票</td>
			<td>25</td>
			<td>40</td>
		</tr>
	</table>
	<h4>沼平線<small>全長1.3公里</small></h4>
	<table class="table table-bordered table-hover table-striped">
		<tr>
			<th></th>
			<th>單程</th>
			<th>去回</th>
		</tr>
		<tr>
			<td>全票</td>
			<td>50</td>
			<td>80</td>
		</tr>
		<tr>
			<td>半票</td>
			<td>25</td>
			<td>40</td>
		</tr>
	</table>
</div>