<h3>新增祝山線發車時間</h3>
<%= form_for @chu, :url => admin_chus_path do |f| %>
	<%= render :partial => "form", :locals => { :f => f } %>
	<%= f.submit "確定新增 >", :class => "btn btn-success pull-right" %>
	<%= link_to "< 取消新增", admin_chus_path, :class => "btn" %>
<% end %>
